body {
    background: rgb(34,193,195);
    background: linear-gradient(329deg, rgba(34,193,195,1) 0%, rgba(1,4,24,1) 0%);
}

h1 {
    font-weight: 900;
    color: aqua;
    
}

h2 {
    color: #fa0431;
}

.cor1 {
    background: rgb(34,193,195);
    
}

.titulo {
    border-radius: 4px;
    background-color: black;
}

span {
    color: #fa0431;
}